graft drf_renderer_svgheatmap

include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include setup.cfg
include setup.py
include runtests.py
include Makefile

exclude .editorconfig
exclude .pyup.yml
exclude .travis.yml
exclude tox.ini

global-exclude __pycache__
global-exclude *py[co]
global-exclude *.cfg

prune requirements
prune tests
